:root{
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    font-size: 12px;
    padding: 0;
    margin: 0;
}

ol, ul,li {
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

.logo__item {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.tudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.menu, .title, .about, .skills, .hobbies, .academic, .experience, .formcontato, .menu_container{
    display: flex;
    justify-content: space-evenly; 
}

.menu__list__item{
    display: flex;
}

.menu__contact__item {
    display: flex;
}

.title__subsection{
    font-weight: normal;
}

.about, .academic, .formcontato{
    background: #EAF2FD ;
    width: 100%;
    margin-top: 2rem;
}

.about__container{
    padding: 1rem;
    text-align: justify;
}

.skills__title, .hobbies__title, .academic__title, .experience__section__title{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.formcontato__text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.experience__img{
    width: 100%;
}

.experience__text{
    font-weight: lighter;
}

.experiencia__botao--repo{
    border: 1px solid #2A7AE4 ;
    background: none;
    color: #2A7AE4;
    height: 40px;
}

.experience__botao--demo{
    border: 1px solid #2A7AE4 ;
    background: #2A7AE4;
    color: white;
    height: 40px;
}

.formcontato__subtext{
    font-weight: lighter;
    margin: 0rem;
}

.formcontato__form{
    margin-top:1.5rem;
    display:flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 2rem;
}

input, textarea{
    border-top-left-radius: 5px;
    border-top-right-radius:10px;  
    border: none;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.formcontato__botao{
    border: 1px solid #2A7AE4 ;
    background: #2A7AE4;
    color: white;
    width: 40%;
    height: 40px;
    
}

.footer{
    text-align: center;

}
.footer__rodape{
    margin: 1rem;
    font-size:14px;
    font-weight: 500;
}
.footer__rodape p{
    margin: 0;
}

input:focus{
    border-bottom: #2A7AE4!important;
}


@media (min-width: 360px) and (max-width: 479px) {
    .menu_container{
        width: 95%;
        display: flex;
        justify-content:space-around;
        flex-direction: column;
        align-items:center;
    }
    .menu{
        display: flex; 
        align-items: center;
    }
    .menu__header{
        display: flex;
        gap: 10px;
        align-items: center;
        white-space: nowrap;
    }

    .navmenu{
        display: flex;
        align-items: center;
    }

    .menu__list__item{
        display: none;
    }

    .menu__list__item__contato{
        display: flex;
    }

    .title__div {
        width: 95%; 
    }
    .title__profile{
        width: 20%;
    }

    .title__network{
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        padding: 0;
    }

    .formcontato__contacto, .skills_container, .hobbies_container, .academic_container, .experience_container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 95%;
    }

    

    .skills__line, .hobbies__line{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap:10px
    }


    .academic__courses__item__img{
        background-color:white;
        text-align: center;         
    }

    .skills__box, .hobbies__box{
        display: flex;
        align-items:flex-end;
        background-color:white;
        width: 48%;
        height: 118px;
    }

    .skills__box ul, .hobbies__box ul{
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    
    .experience__description{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-bottom: 2rem;
    }

    .experiencia__botao--repo, .experience__botao--demo{
       width: 100%;
    }

    .formcontato__img{
        display: none;
    }
}
/* Media query para pantallas de móvil */
@media (min-width: 480px) and (max-width: 767px) {
    /* Ajustes específicos para pantallas móviles */
    .menu_container{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }

    .menu{
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    
    .menu__header{
        display: flex;
        gap: 10px;
        align-items: center;
        white-space: nowrap;
    }

    .navmenu{
        display: flex;
        align-items: center;
    }

    .menu__list__item{
        display: none;
    }

    .menu__list__item__contato{
        display: flex;
    }

    .title__div {
        width: 95%; 
    }
    .title__profile{
        width: 20%;
    }

    .title__network{
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        padding: 0;
    }

    .formcontato__contacto, .skills_container, .hobbies_container, .academic_container, .experience_container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 95%;
    }

    

    .skills__line, .hobbies__line{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap:10px
    }


    .academic__courses__item__img{
        background-color:white;
        text-align: center;         
    }

    .skills__box, .hobbies__box{
        display: flex;
        align-items:flex-end;
        background-color:white;
        width: 48%;
        height: 118px;
    }

    .skills__box ul, .hobbies__box ul{
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    
    .experience__description{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-bottom: 2rem;
    }

    .experiencia__botao--repo, .experience__botao--demo{
       width: 100%;
    }

    .formcontato__img{
        display: none;
    }
}

/* Media query para pantallas de tablet */
@media (min-width: 768px) and (max-width: 1319px) {

    .menu_container{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    
    .menu__header{
        display: flex;
        gap: 10px;
        align-items: center;
        white-space: nowrap;
    }

    .navmenu{
        display: flex;
        align-items: center;
    }

    .menu__list__item{
        display: none;
    }

    .menu__list__item__contato{
        display: flex;
    }

    .title__div {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        align-items: center;
        width: 95%; 
        gap: 30px;
    }

    .title__profile {
        width: 100%; 
    }

    .title__network{
        display: flex;
        justify-content: flex-start;
        gap: 50px;
        padding: 0;
        font-size: 16px;
    }

    .title__bio{
        font-size: 35px;
    }
    
    .title__subsection{
        font-size: 22px;
    }

    .about__container{
        
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
        width: 95%; 
    }

    .about__title{
        font-size: 22px;  
    }

    
    .formcontato__contacto, .skills_container, .hobbies_container, .academic_container, .experience_container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 95%;
    }

   
    .skills__line, .hobbies__line{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:14px
    }
    .skills__box, .hobbies__box{
        display: flex;
        align-items:flex-end;
        background-color:white;
        width: 32%;
        height: 118px;
    }

    .skills__box ul, .hobbies__box ul{
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items:center;
       
    }

    .academic__courses{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .academic__courses__box{
        width: 100%;
    }
    
    .academic__courses__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .academic__courses__item__img{
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        margin-bottom: 1rem;
    }
    
    .academic__courses__item__subtitle p, .academic__courses__item__title h4{
        margin-top: 0 ;
    }

    .academic__courses__item__img img{
        width: 50%;
    }
    input:focus{
        border-bottom: #2A7AE4;
    }
    .experiencie__box{
        margin: 0;
        margin-bottom: 1rem;
        padding: 0;
    }

    .formcontato__contacto{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .formcontato__text{
        width: 100%;
    }

    .formcontato__img{
        display: none;
    }


}

/* Media query para pantallas de escritorio */
@media (min-width: 1320px) {
    body {
        font-size: 18px;

    }
    .menu_container{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    
    
    .menu{
        align-items: center;
        font-size: 16px;
    }
    
    .menu__header{
        display: flex;
        align-items: center;
        white-space: nowrap;
        gap: 10px;
    }

    .menu__list{
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }

    .menu__list__item{
        display: flex;
        flex-direction: column;
    }

    .menu__list__item__contato{
        display: none;
    }

    .title__div {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        align-items: center;
        width: 80%; 
        gap: 30px;
    }

    .title__profile {
        width: 100%; /* Ajusta el tamaño de la imagen de perfil */
    }

    .title__network{
        display: flex;
        justify-content: flex-start;
        gap: 50px;
        padding: 0;
        font-size: 16px;
    }
    .title__bio{
        font-size: 35px;
    }
    
    .title__subsection{
        font-size: 22px;
    }

    .title__container{
        width: 70%;
    }

    .about__container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
        width: 80%; 
    }

    .about__title{
        font-size: 32px;  
        padding: 0;
        margin: 0;
    }

    .about__paragraph{
        width: 80%;
    }

    .skills_container, .hobbies_container, .academic_container, .experience_container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 80%;
    }

    .skills__line, .hobbies__line{
        display: flex;
        flex-direction: row;
        gap:10px
    }

    .skills__box, .hobbies__box{
        display: flex;
        align-items:flex-end;
        background-color:white;
        width: 48%;
        height: 118px;
    }

    .skills__box ul, .hobbies__box ul{
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items:center;
       
    }

    .academic__courses{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .academic__courses__box{
        width: 100%;
    }
    
    .academic__courses__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
    
    .academic__courses__item__img{
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        height: 286px;
        margin-bottom: 1rem;
    }
    
    .academic__courses__item__subtitle p{
        margin-top: 0 ;
    }

    .academic__courses__item__title h4{
        margin-top: 0;
    }
    
    .experiencie__box{
        margin: 0;
        margin-top: 2rem;
        padding: 0;
    }

    .experiencie__box:nth-child(even){
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .experiencie__box:nth-child(odd){
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        align-items: center;
        gap: 50px;
    }

    .experience__info{
        width: 30%;
    }

    .experience__img{
        width: 70%;
        height: 406px;
    }
    
    .formcontato__contacto{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        gap: 20px;
        width: 80%;
    }

    .formcontato__text{
        width: 100%;
    }

    .formcontato__img{
        display: flex;
    }
}


