:root{
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    font-size: 12px;
    margin: 0;
    padding:0;
}

ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

.logo__item {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.tudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

section{
    margin-top: 1rem;
}



.menu__list__item{
    display: flex;
}

.menu__contact__item {
    display: flex;
}

.title{
    margin: 0 10px;
}

.title__subsection{
    font-weight: normal;
}

.about, .academic, .formcontato{
    background: #EAF2FD ;
    width: 100%;
}

.about__container{
    padding: 1rem;
    text-align: justify;
}

.skills__title, .hobbies__title, .academic__title, .experience__section__title{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.formcontato__text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.experience__img{
    width: 100%;
}

.experience__text{
    font-weight: lighter;
}

.experiencie__box{
    margin: 3rem 1.5rem;
}

.experiencia__botao--repo{
    border: 1px solid #2A7AE4 ;
    background: none;
    color: #2A7AE4;
    height: 40px;
}

.experience__botao--demo{
    border: 1px solid #2A7AE4 ;
    background: #2A7AE4;
    color: white;
    height: 40px;
}

.formcontato__contacto{
    margin: 0 1.5rem;
}

.formcontato__subtext{
    font-weight: lighter;
    margin: 0rem;
}

.formcontato__form{
    margin-top:1.5rem;
    display:flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 2rem;
}

input, textarea{
    border-top-left-radius: 5px;
    border-top-right-radius:10px;  
    border: none;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.formcontato__botao{
    border: 1px solid #2A7AE4 ;
    background: #2A7AE4;
    color: white;
    width: 40%;
    height: 40px;
    
}

.footer{
    text-align: center;

}
.footer__rodape{
    margin: 1rem;
    font-size:14px;
    font-weight: 500;
}
.footer__rodape p{
    margin: 0;
}

/* Media query para pantallas de móvil */
@media (max-width: 767px) {
    /* Ajustes específicos para pantallas móviles */
    body {
        font-size: 14px; /* Ejemplo de ajuste de tamaño de fuente */
    }
    
    .menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .menu__header{
        display: flex;
        gap: 10px;
        align-items: center;
        white-space: nowrap;
    }

    .navmenu{
        display: flex;
        align-items: center;
    }

    .menu__list__item{
        display: none;
    }

    .menu__list__item__contato{
        display: flex;
    }

    .title__profile{
        width: 20%;
    }

    .title__network{
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .skills, .hobbies{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills__line, .hobbies__line{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin:0 1rem;
        gap:10px
    }
        .academic__courses__box{
    margin: 2.5rem 1.5rem;
}

    .academic__courses__item__img img{
        width: 40%;
        margin: 2rem;
    }
 
    .academic__courses__item__img{
        background-color:white;
        text-align: center;         
    }

    .skills__box, .hobbies__box{
        display: flex;
        align-items:flex-end;
        background-color:white;
        width: 48%;
        height: 118px;
    }

    .skills__box ul, .hobbies__box ul{
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items:center;
       
    }
    
    .experience__description{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .experiencia__botao--repo, .experience__botao--demo{
       width: 100%;
    }

    .formcontato__img{
        display: none;
    }
}

/* Media query para pantallas de tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    
    .menu, .title__div, .academic_container, .about__container, .experience_container, .formcontato__contacto{
        margin: 0 2rem;
    }

    .menu{
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    
    .menu__header{
        display: flex;
        gap: 10px;
        align-items: center;
        white-space: nowrap;
    }

    .navmenu{
        display: flex;
        align-items: center;
    }

    .menu__list__item{
        display: none;
    }

    .menu__list__item__contato{
        display: flex;
    }

    .title__div{
        margin-top:3rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        gap:5px

    }

    .title__bio{
        font-size: 22px;
    }

    .title__subsection{
        font-size: 16px;
    }

    .title__profile{
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
        width: 24.33%;
    }

    .title__network{
        display: flex;
        justify-content: flex-start;
        gap: 40px;
        padding: 0;
        font-size: 16px;
    }

    
    .about__container{
        margin-top:1rem;
        margin-bottom:2rem;
        font-size: 14px;
    }

    .about__title{
        font-size: 22px;  
    }

    .skills, .hobbies{
        display: flex;
        flex-direction: column;
    }

    .skills__line, .hobbies__line{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:20px
    }
    .skills__box, .hobbies__box{
        display: flex;
        align-items:flex-end;
        background-color:white;
        width: 28%;
        height: 118px;
    }

    .skills__box ul, .hobbies__box ul{
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 0;
       
    }

   .academic_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .academic__courses{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .academic__courses__box{
        width: 50%;
    }
    
    .academic__courses__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
    
    .academic__courses__item__img{
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        height: 118px;
    }

    .academic__courses__item__img img{
        width: 50%;
    }

    .academic__courses__item__title{
        height: 32px;
    }

    .academic__courses__item__subtitle p{
        margin-top: 0;
    }

    .academic__courses__item__title h4{
        margin-top: 5px 0;
    }
/*
    .experience_container{
        display: flex;
        flex-direction: column;
    }

    .experiencie__box:nth-child(even){
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .experiencie__box:nth-child(odd){
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        align-items: center;
        gap: 50px;
    }

    .experience__info{
        width: 20%;
    }

    .experience__img{
        width: 80%;
        height: 406px;
    }
    
    .formcontato__contacto{
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    .formcontato__text{
        width: 100%;
    }

    .formcontato__img{
        display: flex;
    }

    input:focus{
        border-bottom: #2A7AE4;
    }*/
}

/* Media query para pantallas de escritorio */
@media (min-width: 1024px) {
    /* Ajustes específicos para pantallas de escritorio */
    body {
        font-size: 18px; /* Ejemplo de ajuste de tamaño de fuente */
    }
    
    .menu, .title__div,  .about__container, .experience_container, .formcontato__contacto{
        margin: 0 10rem;
    }

    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
    }
    
    .menu__header{
        display: flex;
        align-items: center;
        white-space: nowrap;
        gap: 10px;
    }

    .menu__list{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .menu__list__item{
        display: flex;
        flex-direction: column;
    }

    .menu__list__item__contato{
        display: none;
    }

    .title__div{
        margin-top:3rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        gap:10px

    }

    .title__bio{
        font-size: 52px;
    }

    .title__subsection{
        font-size: 22px;
    }

    .title__profile{
        width: 50%;
    }

    .title__network{
        display: flex;
        justify-content: flex-start;
        gap: 50px;
        padding: 0;
        font-size: 16px;
    }

    .about__container{
        margin-top:2rem;
        margin-bottom:2rem;
        font-size: 16px;
        width: 50%;
    }

    .about__title{
        font-size: 32px;  
    }

    .skills, .hobbies{
        margin: 0 10rem;
        display: flex;
        flex-direction: column;
    }

    .skills__line, .hobbies__line{
        display: flex;
        flex-direction: row;
        margin:0 1rem;
        gap:10px
    }

    .skills__box, .hobbies__box{
        display: flex;
        align-items:flex-end;
        background-color:white;
        width: 48%;
        height: 118px;
    }

    .skills__box ul, .hobbies__box ul{
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items:center;
       
    }

    .academic_container{
        margin:0 11rem;
    }

    .academic_container{
        display: flex;
        flex-direction: column;
    }

    .academic__courses__item__img{
        background-color: white;
        text-align: center;
    }

    .academic__courses{
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }

    .academic__courses__list{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .academic__courses__item__img img{
        margin: 5rem 10rem;
    }

    .academic__courses__item__img img{
        height: 130px;
    }

    .experience_container{
        display: flex;
        flex-direction: column;
    }

    .experiencie__box:nth-child(even){
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .experiencie__box:nth-child(odd){
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        align-items: center;
        gap: 50px;
    }

    .experience__info{
        width: 20%;
    }

    .experience__img{
        width: 80%;
        height: 406px;
    }
    
    .formcontato__contacto{
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    .formcontato__text{
        width: 100%;
    }

    .formcontato__img{
        display: flex;
    }

    input:focus{
        border-bottom: #2A7AE4;
    }

    .academic__courses__item__title, .academic__courses__item__subtitle{
        line-height: 0;
    }
    
}


